.mc-converter-form {
  display: flex;
  flex-direction: column;
}

.mc-exchange-amount {
  margin-bottom: 24px;
  font-size: 14px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;

  &__value {
    font-size: 24px;
  }
}
