<form class="mc-converter-form" [formGroup]="form">
  <mat-form-field appearance="outline">
    <mat-label>Amount</mat-label>
    <input formControlName="amount" type="number" matInput placeholder="0" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Currency</mat-label>
    <mat-select formControlName="currency" placeholder="Select">
      <mat-option *ngFor="let option of currencyOptions" [value]="option.value">{{ option.label }}</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="mc-exchange-amount">
    <span>USD amount:</span>
    <span *ngIf="!loading" class="mc-exchange-amount__value">{{ convertedAmount | currency }}</span>
    <mat-progress-spinner *ngIf="loading" mode="indeterminate" [diameter]="30"></mat-progress-spinner>
  </div>

  <button (click)="handleSubmit()" mat-flat-button color="accent">Submit</button>
</form>
