<div class="mc-converter">
  <mat-card class="mc-converter__form">
    <mc-converter-form (submitForm)="handleSubmit($event)"></mc-converter-form>
  </mat-card>
  <mat-card class="mc-converter__table">
    <mc-converter-table [conversions]="conversions"></mc-converter-table>
  </mat-card>
</div>
