.mc-header {
  background: #3f51b5;
  padding-top: 38px;
  padding-bottom: 38px;
  margin-bottom: 24px;
}

.mc-title {
  font-size: 24px;
  font-weight: 300;
  color: #fff;
}

.mc-main {
}

.mc-container {
  max-width: 1024px;
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;
  margin-left: auto;
  margin-right: auto;
}
