<header class="mc-header">
  <div class="mc-container">
    <h1 class="mc-title">Multi-currency converter</h1>
  </div>
</header>

<main class="mc-content">
  <div class="mc-container">
    <mat-card-content>
      <mc-converter></mc-converter>
    </mat-card-content>
  </div>
</main>
