<table class="mc-converter-table" mat-table [dataSource]="conversions">
  <!-- Item Column -->
  <ng-container matColumnDef="from">
    <th mat-header-cell *matHeaderCellDef>From</th>
    <td mat-cell *matCellDef="let conversion">{{ conversion.from.amount | currency: conversion.from.currency }}</td>
    <td mat-footer-cell *matFooterCellDef>
      <b>Total</b>
    </td>
  </ng-container>

  <!-- Cost Column -->
  <ng-container matColumnDef="to">
    <th mat-header-cell *matHeaderCellDef>To</th>
    <td mat-cell *matCellDef="let conversion">{{ conversion.to.amount | currency: conversion.to.currency }}</td>
    <td mat-footer-cell *matFooterCellDef>
      <b>{{ totalCost | currency }}</b>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
</table>
