/* You can add global styles to this file, and also import other style files */

@import "~normalize.css/normalize.css";

*,
*::before,
*::after {
  box-sizing: border-box; // 1
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
